.idea
*.parquet
*.zip
target/**
project/**
.bsp
spark-warehouse/
archived-json/**
src/test/**
.ipynb_checkpoints/**
test-test-json/**
output-france2-tv-news-json/**
output-tf1-tv-news-json/**
**.crc
notebooks/.ipynb_checkpoints/**
data-news-csv/
data-news-gargantext-tsv/
notebooks/
sql/
.git