.idea
*.parquet
*.zip
target/
project/
.bsp
spark-warehouse/
archived-json/
src/test/docker/pgdata/
.ipynb_checkpoints/
test-test-json/
output-france2-tv-news-json/
output-tf1-tv-news-json/
**.crc
**._SUCCESS
**_SUCCESS
notebooks/.ipynb_checkpoints/
