name: Docker Compose CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: init and load data
      run: docker-compose -f src/test/docker/docker-compose.yml up -d
    - name: sleep
      run:  sleep 120
    - name: log
      run: docker logs docker_app_1
